body{

margin:0;

background:#FAF7F2;

font-family:Arial;

color:#333;

text-align:center;

}


.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

}


.hero img{

width:250px;

height:250px;

border-radius:30px;

object-fit:cover;

margin:auto;

}


h1{

font-size:55px;

}


button{

background:#D8A7B1;

border:none;

padding:16px;

border-radius:30px;

font-size:18px;

}


#contenido{

display:none;

padding:50px;

}


.galeria{

display:grid;

grid-template-columns:

1fr 1fr;

gap:20px;

}


.galeria img{

width:100%;

border-radius:20px;

}


.carta{

max-width:700px;

margin:auto;

line-height:2;

}